*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  position: relative;
  background: #010101;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  color: white;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#canvas {
  width: 133vh;
  height: 100vh;
  touch-action: none;
  display: block;
}

.cover {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

.cover pre {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.credits {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0 0 20px 20px;
  line-height: 18px;
  color: white;
  z-index: 3;
}

.credits > a {
  color: #fefefe;
  transition: all 0.5s ease-out;
}

.credits > a:hover {
  opacity: 0.5;
}

.f {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  color: #fefefe;
  letter-spacing: 2px;
}

.play {
  display: block;
  background: white;
  color: black;
  border-radius: 50px;
  height: 100px;
  
  text-align:  center;
 
  font-size: 10px;
  width: 100px;

  
}

.play .t{
  font-size:18px;
  line-height: 30px;
  position: relative;
  top: 20px;
}

.play .t .fa{
  font-size: 20px;
}